@import '../src/svgricons.scss';

:root {
  --color-primary: #3880ff;
  --color-secondary: #eb445a;
  --color-success: #2dd36f;
  --recolor-primary: brightness(0) saturate(100%) invert(37%) sepia(73%) saturate(1013%) hue-rotate(193deg) brightness(106%) contrast(104%);
  --recolor-secondary: brightness(0) saturate(100%) invert(45%) sepia(84%) saturate(2892%) hue-rotate(324deg) brightness(91%) contrast(102%);
  --recolor-success: brightness(0) saturate(100%) invert(90%) sepia(90%) saturate(2470%) hue-rotate(65deg) brightness(90%) contrast(82%);
}

@include svgricons(
  (
    github: '/icons/github.svg',
    github2: '/icons/github2.svg',
    google: '/icons/google.svg',
    google2: '/icons/google2.svg',
    apple: '/icons/apple.svg',
    apple2: '/icons/apple2.svg',
  ),
  (
    sizes: (10, 16, 32, 48, 64),
    colors: ('primary', 'secondary', 'success'),
  )
);
