:root {
  --color-primary: #3880ff;
  --color-secondary: #eb445a;
  --color-success: #2dd36f;
  --recolor-primary: brightness(0) saturate(100%) invert(37%) sepia(73%) saturate(1013%) hue-rotate(193deg) brightness(106%) contrast(104%);
  --recolor-secondary: brightness(0) saturate(100%) invert(45%) sepia(84%) saturate(2892%) hue-rotate(324deg) brightness(91%) contrast(102%);
  --recolor-success: brightness(0) saturate(100%) invert(90%) sepia(90%) saturate(2470%) hue-rotate(65deg) brightness(90%) contrast(82%);
}

.icon {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
}

.icon.github {
  background-image: url("/icons/github.svg");
}

.icon-hovered-github.icon:hover, .icon-hovered-github:hover .icon,
.hovered-github.icon:hover,
.hovered-github:hover .icon {
  background-image: url("/icons/github.svg");
}

.icon.githubx {
  background-image: url("/icons/githubx.svg");
}

.icon-hovered-githubx.icon:hover, .icon-hovered-githubx:hover .icon,
.hovered-githubx.icon:hover,
.hovered-githubx:hover .icon {
  background-image: url("/icons/githubx.svg");
}

.icon.google {
  background-image: url("/icons/google.svg");
}

.icon-hovered-google.icon:hover, .icon-hovered-google:hover .icon,
.hovered-google.icon:hover,
.hovered-google:hover .icon {
  background-image: url("/icons/google.svg");
}

.icon.googlex {
  background-image: url("/icons/googlex.svg");
}

.icon-hovered-googlex.icon:hover, .icon-hovered-googlex:hover .icon,
.hovered-googlex.icon:hover,
.hovered-googlex:hover .icon {
  background-image: url("/icons/googlex.svg");
}

.icon.apple {
  background-image: url("/icons/apple.svg");
}

.icon-hovered-apple.icon:hover, .icon-hovered-apple:hover .icon,
.hovered-apple.icon:hover,
.hovered-apple:hover .icon {
  background-image: url("/icons/apple.svg");
}

.icon.applex {
  background-image: url("/icons/applex.svg");
}

.icon-hovered-applex.icon:hover, .icon-hovered-applex:hover .icon,
.hovered-applex.icon:hover,
.hovered-applex:hover .icon {
  background-image: url("/icons/applex.svg");
}

.icon.size-10 {
  width: 10px;
  height: 10px;
}

.icon.size-16 {
  width: 16px;
  height: 16px;
}

.icon.size-32 {
  width: 32px;
  height: 32px;
}

.icon.size-48 {
  width: 48px;
  height: 48px;
}

.icon.size-64 {
  width: 64px;
  height: 64px;
}

.icon.color-primary {
  filter: var(--recolor-primary);
}

.icon-hovered-primary.icon:hover, .icon-hovered-primary:hover .icon,
.hovered-primary.icon:hover,
.hovered-primary:hover .icon {
  filter: var(--recolor-primary);
}

.icon.color-secondary {
  filter: var(--recolor-secondary);
}

.icon-hovered-secondary.icon:hover, .icon-hovered-secondary:hover .icon,
.hovered-secondary.icon:hover,
.hovered-secondary:hover .icon {
  filter: var(--recolor-secondary);
}

.icon.color-success {
  filter: var(--recolor-success);
}

.icon-hovered-success.icon:hover, .icon-hovered-success:hover .icon,
.hovered-success.icon:hover,
.hovered-success:hover .icon {
  filter: var(--recolor-success);
}

/*# sourceMappingURL=index.css.map */
